{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="card shadow p-5" style="width: 100%; max-width: 450px;">

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Acceso DinoRanking</h1>
            </div>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Correo Electrónico</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
                </div>

                <div class="mb-4">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>
                </div>

                <button class="btn bg-dark-blue w-100 btn-lg text-white" type="submit">
                    Entrar
                </button>

                <div class="text-center mt-3">
                    <a href="{{ path('app_register') }}" class="text-decoration-none">¿No tienes cuenta? Regístrate</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
